repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - sqlalchemy[mypy]
        args: [--config-file=pyproject.toml]

  - repo: local
    hooks:
      - id: architecture-check
        name: architecture-check
        entry: make architecture-check
        language: system
        pass_filenames: false
